
// Variable overrides second
$primary: #242d39;

// Functions first
@import "../node_modules/bootstrap/scss/bootstrap";

.border-primary {
    border-color: $green !important; // Đổi màu viền
}
.bg-primary {
    background-color: $primary !important; // Đổi màu nền
}
.bg-gray {
    background-color: $gray-300 !important; // Đổi màu nền
}
.text-gray{
    color: #E5E5E5 !important;
}