#TableOfContents ul {
  list-style-type: none;
  /* Loại bỏ dấu chấm */
  padding-left: 1.5rem;
  /* Tạo khoảng cách lề trái nếu cần */
}
#TableOfContents a {
text-decoration: none; /* Bỏ dấu gạch chân */
color: grey; /* Màu mặc định của Bootstrap */
}
.text-gradient {
  background: linear-gradient(to right, #FFFFFF, #FFFFFF); /* Màu trên và màu dưới */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem; /* Kích thước chữ */
}
.size {
  width: 100px;
  height: 100px;
}
body {
  position: relative;
}
