// Variable overrides second
$primary: #000000;
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4,
    // Thêm phần tử số 6
);

// Functions first
@import "../node_modules/bootstrap/scss/bootstrap";

.border-primary {
    border-color: $green !important; // Đổi màu viền
}

.bg-primary {
    background-color: $primary !important; // Đổi màu nền
}

.bg-gray {
    background-color: $gray-200 !important; // Đổi màu nền
}

.bg-white {
    background-color: $white !important; // Đổi màu nền
}

.bg-black {
    background-color: #242d39 !important; // Đổi màu nền
}
.bg-code {
    background-color: #f5f2f0 !important; // Đổi màu nền
}
.text-gray {
    color: #E5E5E5 !important;
}

.nav-link {
    text-decoration: none; // Đảm bảo không có gạch chân mặc định

    &:hover {
        text-decoration: underline; // Thêm gạch chân khi rê chuột
    }
}
// Base class
.callout-primary {
    border-left: 5px solid #dee2e6;
    background-color: #f8f9fa; // Sửa lại cú pháp đúng
}
.callout-warning {
    border-left: 5px solid #ffde7a;
    background-color: #fffaed; // Sửa lại cú pháp đúng
}