RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^word_cloud$ /app/views/word_cloud.php [L]
RewriteRule ^learn$ /public/learn.php [L]
RewriteRule ^market$ /public/market.php [L]
RewriteRule ^home$ /index.php [L]